@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #333;
  font-size: 1rem;
  font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
/* コンテンツ幅設定用の共通クラス */
.wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}
.readmore {
  font-size: 0.875rem;
  text-align: center;
}
/* 疑似要素で下線を設定するために relative を設定 */
.readmore a {
  padding-bottom: 1px;
  color: #333;
  position: relative;
}
/* 疑似要素の下線を設定する
left / bottom で下線の位置を調整、
width / height で千の長さ高さを設定 */
.readmore a::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #333;
  transition: all 200ms ease;
}
/* ホバー時の下線の設定 */
.readmore a:hover::after {
  opacity: 0;
  transform: translateY(3px);
}

/* header */
.header {
  width: 100%;
  background-color: #fff;
  position: fixed;
  z-index: 10;
}
.header .site-title {
  padding: 20px 16px;
  line-height: 1px;
}
.header .site-title a {
  display: inline-block;
}
.navi {
  background-color: #333;
}
.navi a {
  color: #fff;
}
.navi ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navi li {
  font-size: 0.875rem;
  padding: 10px 60px 10px 0;
}

/* pickup */
.pickup {
  display: flex;
  justify-content: space-between;
  gap: 2%;
  padding-top: 150px;
  margin-bottom: 60px;
}
.pickup .article-title {
  font-size: 1rem;
  margin: 10px 0 15px 0;
}

/* container */
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
main {
  width: 65%;
}
main article {
  margin-bottom: 80px;
}
main .article-title {
  font-size: 1.5rem;
  margin: 10px 0 15px 0;
}
main ul {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}
main li {
  font-size: 0.875rem;
  margin-right: 20px;
}
main .text {
  padding: 10px 40px 30px 40px;
}

/* aside */
.sidebar {
  width: 33%;
  padding: 20px;
}
