@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto Serif JP', serif;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

.site-title {
  line-height: 1px;
  margin-left: 60px;
}
.site-title a {
  display: block;
}
.site-title img {
  width: 40px;
}
.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}
