@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  font-family: 'Arial', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo',
    sans-serif;
  font-size: 0.875rem;
  color: #2a2a2a;
}
a {
  text-decoration: none;
}
a:hover {
  opacity: 0.7;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

/* コンテンツ幅とタイトルの共通スタイル */
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5%;
}
.sec-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
/* ボタンの共通スタイル */
.btn {
  color: #2a2a2a;
  border: solid 1px #2a2a2a;
  display: inline-block;
  font-size: 0.75rem;
  padding: 14px 36px;
  margin-top: 30px;
}

/* header */
.header {
  height: 100vh;
  background-image: url('../img/mainvisual.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 80px;
  position: relative;
}
.header > .site-title {
  position: absolute;
  top: 30px;
  right: 30px;
}

/* Magazine */
.magazine {
  text-align: center;
  margin-bottom: 80px;
}
.magazine .flex-item {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
/* テキストを上に重ねるために、
親要素の position に relative を設定 */
.magazine .flex-item .item {
  width: 49%;
  position: relative;
}
/* position: absolute を設定し、
top / left / right で位置を調整 */
.magazine .flex-item .item .text {
  max-width: 290px;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 15px 0;
  margin: 0 auto;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
}
.magazine .flex-item .item .title {
  font-size: 1.25rem;
  margin-bottom: 2px;
}

/* Fashion */
.fashion {
  height: 520px;
  background-image: url('../img/fashion.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 80px;
}
