html {
  font-size: 100%;
}

.body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
}

/* サイト全体のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* 中のコンテンツ部分の最大幅を設定 */
.inner {
  max-width: 600px;
  margin: 0 auto;
}
.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}
