@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #2d2d2d;
  font-family: 'Crimson Text', serif;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
ul {
  list-style: none;
}
a {
  color: #2d2d2d;
  text-decoration: none;
}

/* main と footer のコンテンツ幅を設定 */
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}
.site-title {
  width: 110px;
  line-height: 1px;
  margin-right: 50px;
}
.site-title a {
  display: block;
}
.section-title {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 4px;
}
.section-title-en {
  display: inline-block;
  margin-bottom: 25px;
}

/* Mainvisual */
#mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}

/* Header */
#header {
  width: 90vw;
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin: 0 auto 30px auto;
}
#header ul {
  display: flex;
}
#header li {
  font-size: 0.875rem;
  margin-right: 30px;
}
#header li:last-child {
  margin-right: 0;
}
